.form-control {
  border-radius: 0;
  padding-left: 2%;
  margin-bottom: 0.5vmin; }

#ingredient {
  height: 40px; }

#fabtn {
  background: none;
  color: inherit;
  border: none; }

.addbtn, .minusbtn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 20px; }

.addbtn {
  padding-right: 40%;
  color: green; }

.minusbtn {
  color: red; }

#plusminusbtn {
  align-self: center;
  display: flex;
  margin-bottom: 10px; }

.btndel {
  margin-bottom: 10px; }

label {
  font-weight: bold; }

#del-edit-buttons {
  display: flex; }

#accordion {
  text-align: left;
  color: #2AA; }

@media (max-width: 621px) {
  #ingredientlist {
    font-size: 90%;
    margin-left: -20px; } }

.container {
  margin-top: 3%;
  width: 80%; }

#recipescontainer {
  width: 100%; }

#numberrecipes {
  margin-top: 3%; }

#bottomtext {
  opacity: 0.6;
  color: #FAA; }

h1 {
  margin: 0;
  margin-bottom: 5%;
  color: blue; }

@media (max-width: 621px) {
  h1 {
    font-size: 80%;
    margin-bottom: 10%; } }

footer {
  position: absolute;
  font-size: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3%;
  background: #2cc; }
